*.o
*.a
*.gch
*.pb.cc
*.pb.h

*.exe

*.swp
tags

docs/*
*.autosave
*.obj
src/build-AVL_Interface-Desktop_Qt_5_4_0_MSVC2013_64bit-Debug/Makefile.Release
src/gui/debug/qrc_images.cpp
src/build-AVL_Interface-Desktop_Qt_5_4_0_MSVC2013_64bit-Debug/Makefile
src/build-AVL_Interface-Desktop_Qt_5_4_0_MSVC2013_64bit-Debug/Makefile.Debug
